extends layout

block content

    //- div.pagecontainer#menu
    //-     div.contentwrap
    //-         img#mainlogo(src='pub/img/structuralogo.png' alt='Structura Software Development')

    div.pagecontainer#jumbotron
        div.contentwrap
            div
                span#companytitle 
                    h1 Structura
            div
                span#companyheader 
                    h2 Software Development
                span#companysubtitle 
                    h2 Consultancy &amp Solutions 

    div.centralcontainer.pagecontainerdark
        div.contentwrap
            div
                h2 Expertise makes better software
            div.main Alexander van Trijffel helps businesses gain competitive advantage by bringing software projects from concept to success. 
                    | From responsive web applications to highly concurrent back end transaction systems, 
                    | Structura helps organisations build their mission-critical software right the first time.
                    // Realize elegant software solutions for your information needs. 
                    // div.withn  Structura was founded by Alexander van Trijffel.

    div.pagecontainer#headlines
        div.contentwrap.clearfix
            div#headerwrap 
                h3 What you can expect
            div#servicewrap
                div.service
                    i.fa.fa-cogs.fa-2x
                    div 
                        span Simplicity 
                        div Simplicity penetrates deeper than a UI and affects applications, architecture, and services.
                            | All must be working together to achieve simplicity. I believe in simplicity being the ultimate sophistication.
                
                div.service
                    i.fa.fa-expand.fa-2x
                    div
                        span Software Architecture
                        div With 15 years of professional experience in software engineering under my belt, I help software development teams stand out from the average. 
                         //| I excel at designing right-fit architectures for systems of any size.
                        // reliable systems that scale to millions of users while staying maintainable 
                         | and secure. This way, you can rely on your software to grow your business.

                div.service
                    i.fa.fa-refresh.fa-2x
                    div
                        span Agile Development
                        div Tight feedback loops and effective communication allow your product owners to change course quickly.
                            | This lets you take advantage of changing opportunities and get the most out of a project.

                div.service
                    i.fa.fa-arrows.fa-2x
                    div 
                        span Can-Do Attitude
                        div From small prototypes or Minimum Viable Products (MVP) to large scale projects, I have the expertise
                            | and can-do mentality to complete joint projects successfully.

                div.service
                    i.fa.fa-bolt.fa-2x
                    div 
                        span Up-to-date with latest trends
                        div My passion for establishing software designs and writing code lets me stay up-to-date with the latest
                            | trends in software development. Therefore you can be certain that you will receive proper advice based on 
                            | thorough knowledge of mainstream and cutting edge technology.
                            // and the entire software development life cycle.

                 div.service 
                    i.fa.fa-forward.fa-2x
                    div
                        span Timely delivery
                        div What is the added value of software that has been developed but is not accessible 
                        | to your clients or employees? I embrace the principles and techniques of Agile methodologies
                        | that enable early and frequent releases of functionality. 

    //- div.centralcontainer
    //-     div here comes inspiring content

    
