//
   Created by lex on 2/16/14.

hmtl
    head
        title Structura Software Development Consultancy
        link(href='pub/styles/main.css', rel='stylesheet')
    body
        div#page-content
            div.page-container
                div.page-container.page-container-dark
                    div.title Welcome to Structura
                    div.main This page is under construction...




