doctype html
hmtl
    head
        title Structura Software Development Consultancy
        link(href='pub/styles/main.css', rel='stylesheet')
    body
        div#pageheader
            ul
                li
                    a.showphone(title='Show phone number')
                        i.fa.fa-phone 
                        span Phone
                li 
                    a.showemail(title='Show email address')
                        i.fa.fa-envelope-o 
                        span Email
        div#pagecontent
            
            block content

            div.pagecontainerdark#footer
                div.contentwrap.clearfix     
                    div.col
                        div#address
                            div Scheldedal 108 
                                br
                                | 2904 HG Capelle aan den IJssel
                                br
                                | The Netherlands
                            div.withn VAT number: NL136130768B01
                                br
                                | Chamber of commerce: 60162872

                    div.col#midcol
                        a(href='/')
                            img#footerlogo(src='pub/img/structuralogo.png' alt='Structura Software Development')
                        div.withn &copy 2014 Structura
                    div.col
                        div#followmeheader Lets connect
                        ul
                            li.social.linkedin 
                                a(href='http://www.linkedin.com/pub/alexander-van-trijffel/3/294/142', title='Follow Alexander van Trijffel on LinkedIn')
                            li.social.twitter 
                                a(href='http://twitter.com/avtnl', title='Follow Alexander van Trijffel on Twitter')
                            li.social.github
                                a(href='https://github.com/alexandervantrijffel', title='Follow Alexander van Trijffel on GitHub')

            //| <div id="topcontrol" title="Scroll Back to Top" style="position: fixed; bottom: 5px; right: 5px; opacity: 1; cursor: pointer;">
            //| <img src="pub/img/up.png" style="width:51px; height:42px"></div>
            div#topcontrol
        script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
        script(src='//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js')
        script(src='pub/scripts/plugins/scrolltotop.min.js')
        script(src='pub/scripts/structura.js')

 